{% extends "layout.html" %}{% block content %}

<div class="column middle">
    <h2>Main Content Heading</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna. Vivamus venenatis velit nec neque ultricies, eget elementum magna tristique. Quisque vehicula, risus eget aliquam placerat, purus leo tincidunt eros, eget luctus
        quam orci in velit. Praesent scelerisque tortor sed accumsan convallis.</p>
</div>


<form method="POST" action="">
    <input type="text" name="search" placeholder="Search...">
</form>
{% endblock content %}